@font-face {
    font-family: "Sunny Spells";
    src: url(/app/assets/font/Sunny\ Spells.ttf);
}
:root{
    --c-bg: #11151C;
    --c-main: #212D40;
    --c-second: #364156;
    --c-color1: #7D4E57;
    --c-color2: #D66853; 
}
body{
    background-color: var(--c-bg);
    border-radius: 5px;
    padding: 5px;
    width: 382px;
}
.logo{
    float: left;
    position: relative;
    height: 48px;
    width: auto;
    padding-top: 1rem;
    padding-left: 1rem;
}
.titre{
    color:whitesmoke;
    width: 100%;
    text-align: center;
    font-family: "Sunny Spells";
    font-size: xx-large;
    color: var(--c-color2);
    text-shadow: 2px 2px 2px var(--c-color1);
}
.window{
    background-color: var(--c-main);
    border-radius: 5px;
    border: 1px solid var(--c-second);
    box-shadow: 0px 1px 10px -3px var(--c-second);
    padding: 1rem;
    color: whitesmoke;
}
input[type="color"] {
    border-radius: 5px;
    height: 2rem;
    width: 4rem;
    cursor: pointer;
    transition: 400ms;
    background-color: transparent;
    appearance: none;
	-webkit-appearance: none;
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    border-radius: 5px;
    border: 1px solid var(--c-second);
    box-shadow: 0px 1px 10px -3px var(--c-second);
    height: 2rem;
    width: 4rem;
	padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper:hover {
    border-radius: 10px;
    border: 1px solid var(--c-second);
    box-shadow: 0px 1px 5px 1px var(--c-color2);
    height: 2rem;
    width: 4rem;
    cursor: pointer;
    transition: 400ms;
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 5px;
    border: 1px solid var(--c-second);
    box-shadow: 0px 1px 10px -3px var(--c-second);
    height: 2rem;
    width: 4rem;
	border: none;
    padding: 0;
}